<header>
    <nav class="app-nav">
        <ul>
            {{#each navigation as |item| }}
                <li>
                    <a href="/{{item.href}}">
                        {{item.label}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
</header>
<script>

</script>
<style>
    nav.app-nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav.app-nav  li {
        margin:0  0.5rem 0 0;
        padding: 0.15rem 0.30rem;
    }

    nav.app-nav a {
        font-size: 1.1em;
        display: block;
        font-weight: bold;
        white-space: nowrap;
    }
</style>