{{> "layouts/default.hbs"}}

<h1>Canvas example</h1>
<main>
<canvas id="canvas" >

</canvas>
</main>
<style>
    #canvas{
        margin: 2rem auto;
        display: block;
        border: 2px solid currentColor;
     
    }
</style>
<script>
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");

    const  MARKET_BG_COLOR_INCREASED = 'rgba(146, 199, 56,0.25)'
   const  MARKET_BG_COLOR_DECREASED = 'rgba(255, 87, 91,0.25)'
   const  MARKET_BG_COLOR_DEFAULT = '#5E93FF33'

    function fillCanvas(  ) {

       const height = 50;
       const width =  canvas.width;
       
       ctx.fillStyle  = MARKET_BG_COLOR_DEFAULT;

       ctx.fillRect(0, 0, width, height * 3);

       ctx.fillStyle =  MARKET_BG_COLOR_INCREASED;

       ctx.fillRect(0, height , width, height);
       
       ctx.fillStyle =  MARKET_BG_COLOR_DECREASED;

       ctx.fillRect(0, height * 2 , width, height);

    }

    fillCanvas( MARKET_BG_COLOR_DEFAULT);

    // setTimeout( ()=>{
    //     fillCanvas( MARKET_BG_COLOR_DEFAULT , MARKET_BG_COLOR_INCREASED)
    // },2000 )



</script>
</html>
