
:root {
    --main-accent-color: royalblue;
    --main-text-color:rgba(255, 255, 255, 0.87);

    --link-color: dodgerblue;
}

*{
    outline-offset: .25rem;
}

html {
    font-size: 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    box-sizing: border-box;
    color: var(--main-text-color);
    background-color: #242424;
}

body {
    font-size: 1.5em;
    margin: 0;
    padding: 2rem;
}

button {
    min-width: 10rem;
    min-height: 3rem;
    margin: 0;
    padding:  0.5rem 1.5rem;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0);
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    background-color: #1a1a1a;
}

/*button {*/

/*    border: 1px solid rgba(0,0,0,0);*/
/*    padding: 0.6em 1.2em;*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    font-family: inherit;*/
/*    background-color: #1a1a1a;*/
/*    cursor: pointer;*/
/*    transition: border-color 0.25s;*/
/*}*/

button:hover {
    border-color:  var(--main-accent-color);
}


a {
    color: dodgerblue;
    text-decoration: underline ;
    text-underline-color: currentColor ;
    text-underline-offset: 3px;
    text-underline-position: under;
}

a:visited {
    color: royalblue;
}

a:active
{
    text-shadow: dodgerblue 0 0 3px;
}

@media (hover: hover) {
    a:hover,
    a:focus
    {
        text-shadow: currentColor 0 0 3px;
    }
}

details {
    border: 1px solid ;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 2rem;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid ;
    margin-bottom: 0.5em;
}

fieldset {
    border-radius:.5rem ;
    border: 1px solid;
}

form {
    display: flex;
    align-items: stretch;
    flex-direction:column ;
    justify-content: center;
    gap: 0.5rem;
}

legend {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    padding:  0.25rem 1rem;
}

 ul{
    padding: 0 0 0 0;
}

li {
    margin: 0 0 0.5rem 2rem;
}
