
*{
    box-sizing: border-box;
    outline-offset: .25rem;
}

html {
    color-scheme: dark;
    font-family: system-ui , sans-serif;
    font-size: 10px;
}

body {
    font-size: 1.5em;
    margin: 0;
    padding: 2rem;
}

button {
    padding:  0.5rem 1.25rem;
    border-radius:0.25rem ;
    border: 1px solid;
    font-weight: bold;
    cursor: pointer;
}

a {
    color: #00B7FF;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border-bottom 0.2s ease;
}

a:visited {
    color: #00B7FF;
}


@media (hover: hover) {
    a:hover,
    a:focus{
        border-bottom: 1px solid currentColor;
    }
}

@media(hover: none) {
    a:active{
        border-bottom: 1px solid currentColor;
    }
}

details {
    border: 1px solid ;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 2rem;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid ;
    margin-bottom: 0.5em;
}

fieldset {
    border-radius:.5rem ;
    border: 1px solid;
}

form {
    display: flex;
    align-items: stretch;
    flex-direction:column ;
    justify-content: center;
    gap: 0.5rem;
}

legend {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    padding:  0.25rem 1rem;
}

 ul{
    padding: 0 0 0 0rem;
}

li {
    margin: 0 0 0.5rem 2rem;
}
